<!--<div class="sign-up-main row">-->
<!--  -->
<!--  <div class="left-div col-12 col-md-6"></div>-->
<!--  <div class="right-div col-12 col-md-6">-->
<!--    <div class="inner-right">-->
<!--      <div class="header-sing-up">Sign up</div>-->
<!--      <div class="des-sing-up">Join us to get started!</div>-->

<!--      <div class="input-div">-->
<!--        <label for="name">Full name</label><br>-->
<!--        <div class="search-outer">-->
<!--          <input class="search" type="text" id="name" placeholder="John Doe"/>-->
<!--          <mat-icon class="search-icons">badge</mat-icon>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="input-div">-->
<!--        <label for="email">Email</label><br>-->
<!--        <div class="search-outer">-->
<!--          <input class="search" type="email" id="email" placeholder="Enter your email"/>-->
<!--          <mat-icon class="search-icons">mail</mat-icon>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="input-div">-->
<!--        <label for="username">Username</label><br>-->
<!--        <div class="search-outer">-->
<!--          <input class="search" type="email" id="username" placeholder="Create your username"/>-->
<!--          <mat-icon class="search-icons">person</mat-icon>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="input-div">-->
<!--        <label for="pwd">Create your password</label><br>-->
<!--        <div class="search-outer">-->
<!--          <input class="search" type="password" id="pwd" placeholder="*************"/>-->
<!--          <mat-icon class="search-icons">key</mat-icon>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="input-div">-->
<!--        <label for="pwdCom">Confirm password</label><br>-->
<!--        <div class="search-outer">-->
<!--          <input class="search" type="email" id="pwdCom" placeholder="*************"/>-->
<!--          <mat-icon class="search-icons">lock</mat-icon>-->
<!--        </div>-->
<!--      </div>-->

<!--      &lt;!&ndash; ###############################-->
<!--            Input div End-->
<!--            ############################## &ndash;&gt;-->

<!--      <div class="checkbox-div">-->
<!--        <input type="checkbox" id="agree">-->
<!--        <label for="agree" class="agree-label">I agree with Terms and Privacy Policy.</label>-->
<!--      </div>-->

<!--      <button class="sing-up-btn">Sign Up</button>-->

<!--      <div class="redirect-login">Already have an account? <span>Log in</span></div>-->


<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="sign-up-outer row">
  <div class="left col-12 col-md-6">
  </div>
  <div class="right col-12 col-md-6">
    <div class="login-form">
      <div class="title">Sign up</div>
      <p class="sub-title">Join us to get started!</p>
      <div class="input-outer">
        <p class="label">Full Name</p>
        <div class="input">
          <input class="input-field with-icon" placeholder="John Doe">
          <mat-icon>contact_mail</mat-icon>
        </div>
      </div>
      <div class="input-outer">
        <p class="label">Email</p>
        <div class="input">
          <input class="input-field" placeholder="Enter your email">
          <mat-icon>mail</mat-icon>
        </div>
      </div>
      <div class="input-outer">
        <p class="label">Username</p>
        <div class="input">
          <input class="input-field" placeholder="Create your username">
          <mat-icon>person</mat-icon>
        </div>
      </div>
      <div class="input-outer">
        <p class="label">Create your password</p>
        <div class="input">
          <input class="input-field" placeholder="Enter new password">
          <mat-icon>key</mat-icon>
        </div>
      </div>
      <div class="input-outer">
        <p class="label">Confirm your password</p>
        <div class="input">
          <input class="input-field" placeholder="Confirm password">
          <mat-icon>lock</mat-icon>
        </div>
      </div>
      <div class="input-outer checkbox-outer">
        <mat-checkbox>I agree with Terms and Privacy Policy.</mat-checkbox>
      </div>
      <div class="sign-up-button">
        <p class="sign-up-text" routerLink="/security/login">Signup</p>
      </div>
    </div>
  </div>
</div>
