.sing-up-main{
  width: 100vw;
  height: 100vh;
  display: flex;
  .left-div{
    width: 50%;
    height: 100%;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/cyclerent-94e02.appspot.com/o/Group%20(1).png?alt=media&token=cf2dc697-c77e-46bf-ab81-219c9a0fbf2b");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .right-div{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: right;
    .inner-right{
      width: 75%;
      height: 100%;
      //border: 1px solid red;
      display: flex;
      flex-direction: column;
      .header-sing-up{
        margin-top: 74px;
        color: #080A0B;
        height: 60px;
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .des-sing-up{
        margin-top: 8px;
        color: #5D5D5B;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 30px;
      }
      .input-div{
        margin-bottom: 12px;
        label{
          color: #080A0B;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          border-bottom: 13px;
        }
        .search-outer{
          width: 350px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 10px;
          border-radius: 25px;
          border: 1px solid rgba(0, 0, 0, 0.35);
          //box-shadow: rgba(0, 0, 0, 0.35) 0 5px 5px;
          .search{
            width: 100%;
            border: none;
            outline: none;
          }
        }
      }
      .checkbox-div{
        width: 300px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        .agree-label{
          color: #080A0B;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-left: 10px;
        }
      }
      .sing-up-btn{
        margin-top: 15px;
        width: 350px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        border: none;
        background-color: #CDF2D3;
        color: #030303;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .redirect-login{
        margin-top: 25px;
        width: 300px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #5D5D5B;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        span{
          margin-left: 15px;
        }
      }
    }
  }
}

/*================================================
          Media Queries begin
  ================================================*/
@media only screen and (max-width: 768px) {
  .sing-up-main {
    flex-direction: column;
    .left-div{
      width: 100%;
    }
    .right-div{
      width: 100%;
      .inner-right{
        width: 100%;
        align-items: center;
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .search-outer {
    width: 250px!important;
  }
  .sing-up-btn{
    width: 250px!important;
  }
}
