.sign-up-outer {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.left {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/cyclerent-94e02.appspot.com/o/Group%20(1).png?alt=media&token=cf2dc697-c77e-46bf-ab81-219c9a0fbf2b");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  text-align: center;
}

.right {
  display: flex;
  justify-content: center;
}

.top-text {
  margin-top: 10px;
  font-size: 22px;
}

.top-sub-text {
  margin-top: 5px;
  font-size: 14px;
}

.top-text, .top-sub-text {
  text-align: right;
  margin-bottom: 0;
}

.login-form {
  margin-top: 20px;
  padding: 0 10px;
  width: fit-content;
}

.title {
  width: 100%;
  font-weight: 600;
  text-align: left;
  color: #080A0B;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
}

.sub-title {
  color: #5D5D5B;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.input-outer {
  width: 100%;
  max-width: 350px;
}

.label {
  color: #080A0B;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-top: 23px;
  margin-bottom: 0;
}

.input {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 50px;
  max-width: 350px;
  width: 100%;
  height: 37px;
  font-size: 14px;
  padding: 0 10px;

  mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    color: #5D5D5B;
  }
}

.input-field {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  border-radius: 50px;
}

.checkbox-outer {
  margin-top: 15px;
}

.sign-up-button {
  margin-top: 10px;
  max-width: 350px;
  width: 100%;
  height: 50px;
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.sign-up-text {
  margin: 0;
}

.dont-have-account {
  margin-top: 50px;
}


@media only screen and (max-width: 768px) {
  .left {
    display: none;
  }

}
