<div class="sing-up-main">
  <div class="left-div"></div>
  <div class="right-div">
    <div class="inner-right">
      <div class="header-sing-up">Sign up</div>
      <div class="des-sing-up">Join us to get started!</div>

      <!-- ###############################
            Input div begin
            ############################## -->

      <div class="input-div">
        <label for="name">Full name</label><br>
        <div class="search-outer">
          <input class="search" type="text" id="name" placeholder="John Doe"/>
          <mat-icon class="search-icons">badge</mat-icon>
        </div>
      </div>

      <div class="input-div">
        <label for="email">Email</label><br>
        <div class="search-outer">
          <input class="search" type="email" id="email" placeholder="Enter your email"/>
          <mat-icon class="search-icons">mail</mat-icon>
        </div>
      </div>

      <div class="input-div">
        <label for="username">Username</label><br>
        <div class="search-outer">
          <input class="search" type="email" id="username" placeholder="Create your username"/>
          <mat-icon class="search-icons">person</mat-icon>
        </div>
      </div>

      <div class="input-div">
        <label for="pwd">Create your password</label><br>
        <div class="search-outer">
          <input class="search" type="password" id="pwd" placeholder="*************"/>
          <mat-icon class="search-icons">key</mat-icon>
        </div>
      </div>

      <div class="input-div">
        <label for="pwdCom">Confirm password</label><br>
        <div class="search-outer">
          <input class="search" type="email" id="pwdCom" placeholder="*************"/>
          <mat-icon class="search-icons">lock</mat-icon>
        </div>
      </div>

      <!-- ###############################
            Input div End
            ############################## -->

      <div class="checkbox-div">
        <input type="checkbox" id="agree">
        <label for="agree" class="agree-label">I agree with Terms and Privacy Policy.</label>
      </div>

      <button class="sing-up-btn">Sign Up</button>

      <div class="redirect-login">Already have an account? <span>Log in</span></div>





    </div>
  </div>
</div>
