<div class="main-form-div">
  <div class="location-div cmn-div">
    <div class="div-heading">Location</div>
    <div class="div-disc">Where are you renting <br> <span>from?</span></div>
  </div>
  <div class="pick-up-div cmn-div">
    <div class="div-heading">Pick-up</div>
    <div class="div-disc">Pick-up<br> <span>date</span></div>
  </div>
  <div class="return-div cmn-div">
    <div class="div-heading">Return</div>
    <div class="div-disc">Return <br> <span>date</span></div>
  </div>
  <div class="guests-div cmn-div">
    <div class="div-heading">Guests</div>
    <div class="div-disc">Number of <br> <span>Guests</span></div>
  </div>
  <div class="forward-btn">
    <mat-icon>arrow_forward</mat-icon>
  </div>
</div>
