<div class="main-outer">
  <div class="form-outer">
    <div class="input-option">
      <p class="title">Location</p>
      <input type="text" class="input" placeholder="Where are you renting from?">
    </div>
    <div class="input-option">
      <p class="title">Pick up</p>
      <input type="date" class="input" placeholder="Pick-up date">
    </div>
    <div class="input-option">
      <p class="title">Return</p>
      <input type="date" class="input" placeholder="Return date">
    </div>
    <div class="input-option">
      <p class="title">Guests</p>
      <input type="text" class="input" placeholder="Number of guests">
    </div>
  </div>
  <div class="icon-outer">
    <span>submit</span>
    <mat-icon>arrow_forward</mat-icon>
  </div>
</div>
