<div class="container rental-main">
    <div class="rental-left">
        <div class="rental-left-content">
            <div class="r-l-c-top"></div>
            <div class="r-l-c-bottom">
                <div class="bike-m-r-div">
                    <div class="bike-model">Bike Model</div>
                    <div class="bike-rate">
 <span>
  <mat-icon *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" [ngClass]="{ 'gold-star': i < rating, 'black-star': i >= rating }" aria-hidden="true">
    {{ star <= rating ? 'star' : 'star_border' }}
  </mat-icon>
</span>
                    </div>
                </div>
                <div class="rental-details">
                    <div class="rd-content-div">High-quality bike for your adventure</div>
                    <div class="duration-div">
                        <div class="p-r-div">Pick-up <span>Friday, 09 December 2022</span></div>
                        <div class="p-r-div">Return <span>Monday, 12 December 2022</span></div>
                    </div>
                    <div class="rd-content-div">Standard rental duration</div>
                </div>
            </div>
        </div>
    </div>
    <div class="rental-right">
        <div class="r-l-content">
            <div class="r-l-content-heading">Your trip starts Friday, 09 December 2022</div>
            <div class="r-l-content-duration">
                <div class="r-l-content-duration-detail">
                    <mat-icon>directions_bike</mat-icon>
                    <p class="detail">Pick-up<span>Friday, 09 December 2022, from 3 PM</span></p></div>
                <div class="r-l-content-duration-detail">
                    <mat-icon>directions_bike</mat-icon>
                    <p class="detail">Return <span>Monday, 12 December 2022, until 11 AM</span></p></div>

            </div>
            <div class="contact-details-div">
                <div class="contact-details-cmn-div">Pick-up location<span>Main street, City,State</span></div>
                <div class="contact-details-cmn-div">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>1234@gmail.com</span>
                </div>
                <div class="contact-details-cmn-div">Phone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>+87 89568788</span>
                </div>
            </div>
            <div class="total-rent-div">Total
                Rent&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>$50</span>
                <button class="paid-btn">Paid</button>
            </div>
            <div class="contact-support-btn">Contact Support</div>
            <div class="r-l-content-heading">Cycle Rent</div>
            <div class="confirm-div">
                <div class="circle-div">
                    <mat-icon>done</mat-icon>
                </div>
                <div class="confirm-alert-div">Your rental is confirmed!</div>
            </div>
        </div>
    </div>
</div>
