<div class="log-in-main">
  <div class="left-div">
    <div class="log-in-img"></div>
    <div class="log-in-welcome">Welcome to Bike <br> <span>Rental</span></div>
    <div class="log-in-dic">Manage your rentals and get customer support</div>
  </div>
  <div class="right-div">
    <div class="top-div">
      <div class="top-logo-div">Bike</div>
      <div class="top-dec-div">Login to your</div>
    </div>
    <div class="bottom-div">
      <div class="inner-bottom-div">
        <div class="header-log-in">Log in</div>

        <div class="log-input-div">
          <label for="email">user name or email</label><br>
          <div class="log-search-outer">
            <input class="search" type="email" id="email" placeholder="Enter your username or email"/>
          </div>
        </div>

        <div class="log-input-div">
          <label for="pwd">password</label><br>
          <div class="log-search-outer">
            <input class="search" type="password" id="pwd" placeholder="Enter your password"/>
          </div>
        </div>

        <button class="log-in-btn">Log in</button>
        <div class="dont-have-div">Don't have an account?</div>
        <button class="log-sing-up-btn">Signup</button>
      </div>


    </div>
  </div>
</div>
