<div class="login-outer row">
  <div class="left col-12 col-md-6">
    <div class="image-outer">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/cyclerent-94e02.appspot.com/o/Vector%20(1).png?alt=media&token=3da82740-96f4-4fa1-ad28-62091773ce7c"
        alt="login-page-image">
    </div>
    <h2 class="header">Welcome to Bike <br>Rental</h2>
    <p>Manage your rentals and get customer support</p>
  </div>
  <div class="right col-12 col-md-6">
    <h2 class="top-text">Bike</h2>
    <p class="top-sub-text">Log into your account</p>

    <div class="login-form">
      <div class="title">Login</div>
      <div class="input-outer">
        <p class="label">Username or email</p>
        <input class="input" placeholder="Enter your username or email">
      </div>
      <div class="input-outer">
        <p class="label">Password</p>
        <input class="input" placeholder="Enter your password">
      </div>

      <div class="login-button" routerLink="/process/home">
        <p class="login-button-text">Login</p>
      </div>
      <div class="dont-have-account">Don't have an account?</div>
      <div class="sign-up-button" routerLink="/security/signup">
        <p class="sign-up-text">Signup</p>
      </div>
    </div>


  </div>
</div>
