.main-page-popular-cycles-div{
  height: 50vh;
  .popular-inner{
    height: 245px;
    margin-top: 55px;
    .inner-top{
      height: 25px;
      color: #030303;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 5px;
    }
    .inner-bottom{
      height: 220px;
      width: 100%;
      padding: 0;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: 1fr 1fr;
      grid-gap: 5px;
      grid-template-areas:
        "a b d e"
        "a c d f";
      .item{
        border-radius: 10px;
        position: relative;

        background-image: url("https://firebasestorage.googleapis.com/v0/b/cyclerent-94e02.appspot.com/o/white-bicycle-standing-park.jpg?alt=media&token=b488fe65-0b18-4188-bed2-0c7ef3d49a7c");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .bike-num{
          width: 95px;
          height: 26px;
          border-radius: 16px;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #757575;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          position: absolute;
          bottom: 10px;
          left: 10px;
        }
      }
      .item-1{
        grid-area: a;
      }
      .item-2{
        grid-area: b;
      }
      .item-3{
        grid-area: c;
      }
      .item-4{
        grid-area: d;
      }
      .item-5{
        grid-area: e;
      }
      .item-6{
        grid-area: f;
      }
    }
  }
}

/*================================================
          Media Queries begin
  ================================================*/
@media only screen and (max-width: 576px) {
  .main-page-popular-cycles-div{
    height: 150vh!important;
    .popular-inner {
      height: 100% !important;

      .inner-bottom {
        height: 90% !important;
      }
    }
  }
  .inner-bottom{
    grid-template-columns: 1fr 1fr!important;
    grid-template-rows: 1fr 1fr 1fr!important;
    grid-template-areas:
        "a b"
        "c d"
        "e f"!important;
  }
}

