<div class="main-page-popular-cycles-div">
  <div class="popular-inner">
    <div class="container inner-top">Popular</div>
    <div class="container inner-bottom">
      <div class="item item-1">
        <div class="bike-num">Bike 1</div>
      </div>
      <div class="item item-2">
        <div class="bike-num">Bike 2</div>
      </div>
      <div class="item item-3">
        <div class="bike-num">Bike 3</div>
      </div>
      <div class="item item-4">
        <div class="bike-num">Bike 4</div>
      </div>
      <div class="item item-5">
        <div class="bike-num">Bike 5</div>
      </div>
      <div class="item item-6">
        <div class="bike-num">Bike 6</div>
      </div>
    </div>

  </div>

</div>
