<link rel="stylesheet" href="bike-details-page-context.component.scss">
<div class="container bike-details-main">
  <div class="bicycle-details-div">Bicycle Details</div>
  <div class="bike-image-div">
    <img src="https://firebasestorage.googleapis.com/v0/b/cyclerent-94e02.appspot.com/o/111%201.png?alt=media&token=c140e9c3-0726-4632-96c4-81d5585ead8f">
  </div>
  <div class="rent-dec-div">Rent this bicycle and enjoy a ride through the city streets.</div>

  <div class="cmn-div">
    <mat-icon>man</mat-icon> Rental Duration
  </div>
  <div class="time-div">2 hours</div>

  <div class="cmn-div">
    <mat-icon>directions_bike</mat-icon> Date
  </div>

  <div class="time-div">3 PM</div>

  <button type="button" class="d-pill-btn-style">Confirm rental</button>


</div>
