.header{
  height: 36px;
  margin-top: 18px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.company-name{
  align-items: center;
  color: #030303;
  font-size: 24px;
  font-weight: 700;
}
.log-out-div{
  .pill-btn-style{
    background-color: #2677CC;
    border: none;
    color: white;
    text-align: center;
    padding: 7px 20px;
    border-radius: 16px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
