.footer{
  height: 96px;
  .footer-logo{
    color: #030303;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;

  }
  .trade-mark{
    margin-top: 15px;
    color: #030303;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
